{% load static bootstrap3  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/cover.css" %}'rel="stylesheet">
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">


          <h1 class="masthead-brand">
               <picture>
                    <source media="(min-width: 46px)" srcset='{% static "img/mylogo.png" %}'>
                    <img src='{% static "img/mylogo.png" %}' style="width:auto;">
                </picture>
              </h1>

          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href='{% url "home" %}'>Home</a>
            <a class="nav-link" href='{% url "detail" %}'>Detail</a>
            <a class="nav-link" href='{% url "form" %}'>Contact</a>
            {% if not request.user.is_authenticated %}
              <a class="nav-link" href='{% url "login" %}'>Log in</a>
              {% else %}
              <a class="nav-link" href='{% url "logout" %}'>Log out </a>
              <a class="nav-link" > <span class="glyphicon">&#xe008;</span>{{ request.user.get_full_name }}</a>
              {% endif %}

          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
            <br>
          <img src='{% static "img/smart-house.jpeg" %}' style="width:auto;" width="50px" height="450" >
          <br>
          <br>
        <h1 class="cover-heading">Do not afraid we are your side.</h1>
        <p class="lead">We can guarantee that your home is safe, thanks to the sensors placed on our homes to keep your home safe.
            If you are saying how to do this, we will make system with the help of sensors that will measure the intensity of the temperature
            noise and light to the house.If the temperature becomes a fire, we send you and the fire department.You can also view these values
            live in the chart.</p>
        <p class="lead">
          <a href='{% url "detail" %}' class="btn btn-lg btn-primary">Learn more</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>This website is in trial period.Will begin to be used on demand</p>
          <p>Contact for me <a href="https://twitter.com/hamitvarmis">@hamitvarmis</a>.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>

</body>
</html>